body {
  margin: 2rem;
  font: 12px system-ui;
}
.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1rem;
}
.card {
  padding: 1rem;
  border-radius: 1rem;
  background: darkgray;
  display: grid;
  grid-template-rows: 1rem 1rem 1rem 1rem 2rem;
}
.blankCard {
  display: grid;
  padding: 1rem;
  border-radius: 1rem;
  background: darkgray;
  place-items: center;
}
.buttons {
  padding-top: 0.5rem;
  padding-bottom: 0px;
  justify-self: center;
  align-self: bottom;
}
button {
  border-style: groove;
  border-radius: 1rem;
  font: 12px, system-ui;
}
button:hover {
  border-style:double;
}